MONGODB_URI=mongodb://127.0.0.1:27017/dpi-movie-booking
PORT=5000
JWT_SECRET=change_me
CORS_ORIGIN=http://localhost:5173
SEED_PASSWORD=Nerthiga@123
SEED_SAMPLE_BOOKINGS=true
SEED_RESET_TODAY_BOOKINGS=false

